.techdashtop {
  position: sticky; /* Fix at the top */
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

.thecontentbd {
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling */
  height: calc(100vh - 80px); /* Adjust based on techdashtop height */
}

.notver {
  background: #0000004d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notaprv_cnt {
  max-width: 358px;
  gap: 30px;
  padding: 10px;
  margin: auto auto;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botaprvv_cert {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 15px;
}

.botarvtitle {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 20px;
}

.botarvname {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1%;
  color: #16291e;
}

.botarvemail {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #a2aaa5;
  margin-bottom: 20px;
}

.bovaprvdet {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bovaprvdetstatus {
  border: 1px solid #dead4d;
  background: #ffc14526;
  border-radius: 6px;
  padding: 5px 8px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 13.2px;
  letter-spacing: -1%;
  color: #dead4d;
}

.bovaprvdettitle {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 15.4px;
  letter-spacing: -1%;
  color: #16291e;
}

.dcarptext {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.dcarptext span {
  font-family: Instrument Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
}

.cntdevns {
  background: #80ffb5;
  width: 100%;

  padding: 18px 19px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: -2%;
  color: #16291e;
}

.techdash {
  max-width: 500px;
  padding: 16px;
  background-color: #fafafa;
}

.techdashgreet {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -2%;
}

.techdashpar {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
}

/* Overlay to darken background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 120;
}

/* Modal Box */
.modal {
  padding: 16px;
  max-width: 400px;
  position: relative;
}

.taskalertmain {
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
}

.tasktitle {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.taskparam {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: -1%;
  color: #555555;
}

.divider {
  margin: 15px 0;
  border-bottom: 1px solid #e9e9e9;
}

.taskprops {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.taskpropsitem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskpropsitem img {
  width: 16px;
}

.taskpropsitem label {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: -2%;
  color: #7f8983;
}

.taskpropsbtn {
  display: flex;
  gap: 16px;
}

.taskpropsbtn button {
  width: 100%;
  padding: 18px 19px;
  border-radius: 16px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.52px;
  letter-spacing: -2%;
  color: #16291e;
  cursor: pointer;
}

.tpbaccept {
  background: #80ffb5;
  border: 1px solid #80ffb5;
}

.tpbdecline {
  border: 1px solid #16291e;
  background-color: #fff;
}

.taskpropss {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
  padding-bottom: 15px;
  margin-top: 25px;
}

.taskbookdatecnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskbookdat {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #16291e;
}

.taskbookcd {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.taskbookcd img {
  width: 20px;
}

.taskbookcd p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -1%;
  color: #a2aaa5;
}

.thsp {
  margin-top: 50px;
}

.taskalertmainpro {
  text-align: center;
  display: grid;
  gap: 15px;
}

.tmptitle {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -1%;
  text-align: center;
  color: #16291e;
}

.tmpsubtitle {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.tmppara {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.24px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.tasksearch {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tasksearch input {
  width: 100%;
  border: 1px solid #a2aaa5;
  padding: 16px 21px;
  border-radius: 16px;
  background-color: transparent;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: -2%;
  outline: none;
}

.tasksearch input::placeholder {
  color: #a2aaa5;
}

.filterbtn {
  display: flex;
  align-items: center;
  background: #80ffb5;
  padding: 14px 19px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.tasknav {
  display: flex;
  gap: 8px;
}

.tasknavitem {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  padding: 7px 10px;
  background: #e4e7e5;
  border: none;
  cursor: pointer;
  color: #16291e;
}

.tasktypeactive {
  background-color: #16291e;
  color: #fff;
}

.thespace {
  height: 20px;
}

.thecontentbd {
  /* display: grid; */
  /* overflow-y: scroll;
  height: 60vh; */
}

.sidebar-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 140;
}

.toggle-btn {
  background: transparent;
  color: #16291e;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar {
  position: fixed;
  top: 0; /* Initially hidden */
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background: #fff;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 150;
}

.sidebar.open {
  left: 0; /* Slide in when open */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1f3d30;
}

.thesidelinks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.thesidelinks a {
  text-decoration: none;
  color: #16291e;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 21.7px;
  letter-spacing: -1%;
}

.taskdecnt {
  width: 100%;
  max-width: 500px;
  padding: 16px;
}

.backbtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 16px;
}

.taskclient {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #555555;
  margin-bottom: 5px;
  margin-top: 10px;
}

.taskclient span {
  font-weight: 500;
  color: #16291e;
}

.taskstatus {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.taskstatustitle {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #555555;
}

.taskstatuscnt {
  background: #ffc1451a;
  border: 1px solid #dead4d;
  padding: 5px 8px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 13px;
  line-height: 14.3px;
  letter-spacing: -1%;
  color: #dead4d;
  border-radius: 8px;
}

.taskinfo {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  margin-bottom: 10px;
  color: #16291e;
}

.taskinfocnt {
  border: 1px solid #ececec;
  box-shadow: 0px 4px 37.8px 0px #0000000d;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
}

.taskdatebook {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.taskdatecnt {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.pricebreakitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.pricebreakitem p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.taskinfocntpar {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.thspp {
  height: 10px;
}

.themessagecnt {
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pravatar {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
  object-position: center;
}

.tmname {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #1e1e1e;
}

.tmcon {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.86px;
  letter-spacing: 0%;
  color: #1e1e1e99;
  margin: 5px 0;
}

.tmtime {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.42px;
  letter-spacing: 0%;
  color: #1e1e1e99;
}
