.techdashtop {
  position: sticky; /* Fix at the top */
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

.thecontentbd {
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling */
  height: calc(100vh - 80px); /* Adjust based on techdashtop height */
}

.notver {
  background: #0000004d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notaprv_cnt {
  max-width: 358px;
  gap: 30px;
  padding: 10px;
  margin: auto auto;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botaprvv_cert {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 15px;
}

.botarvtitle {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 20px;
}

.botarvname {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1%;
  color: #16291e;
}

.botarvemail {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #a2aaa5;
  margin-bottom: 20px;
}

.bovaprvdet {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bovaprvdetstatus {
  border: 1px solid #dead4d;
  background: #ffc14526;
  border-radius: 6px;
  padding: 5px 8px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 13.2px;
  letter-spacing: -1%;
  color: #dead4d;
}

.bovaprvdettitle {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 15.4px;
  letter-spacing: -1%;
  color: #16291e;
}

.dcarptext {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.dcarptext span {
  font-family: Instrument Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
}

.cntdevns {
  background: #80ffb5;
  width: 100%;

  padding: 18px 19px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: -2%;
  color: #16291e;
}

.techdash {
  max-width: 500px;
  padding: 16px;
  background-color: #fafafa;
}

.techdashgreet {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -2%;
}

.techdashpar {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
}

/* Overlay to darken background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 120;
}

/* Modal Box */
.modal {
  padding: 16px;
  max-width: 400px;
  position: relative;
}

.taskalertmain {
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
}

.tasktitle {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.taskparam {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: -1%;
  color: #555555;
}

.divider {
  margin: 15px 0;
  border-bottom: 1px solid #e9e9e9;
}

.taskprops {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.taskpropsitem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskpropsitem img {
  width: 16px;
}

.taskpropsitem label {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: -2%;
  color: #7f8983;
}

.taskpropsbtn {
  display: flex;
  gap: 16px;
}

.taskpropsbtn button {
  width: 100%;
  padding: 18px 19px;
  border-radius: 16px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.52px;
  letter-spacing: -2%;
  color: #16291e;
  cursor: pointer;
}

.tpbaccept {
  background: #80ffb5;
  border: 1px solid #80ffb5;
}

.tpbdecline {
  border: 1px solid #16291e;
  background-color: #fff;
}

.taskpropss {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -1%;
  color: #16291e;
  padding-bottom: 15px;
  margin-top: 25px;
}

.taskbookdatecnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskbookdat {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #16291e;
}

.taskbookcd {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.taskbookcd img {
  width: 20px;
}

.taskbookcd p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -1%;
  color: #a2aaa5;
}

.thsp {
  margin-top: 50px;
}

.taskalertmainpro {
  text-align: center;
  display: grid;
  gap: 15px;
}

.tmptitle {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -1%;
  text-align: center;
  color: #16291e;
}

.tmpsubtitle {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.tmppara {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.24px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.tasksearch {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tasksearch input {
  width: 100%;
  border: 1px solid #a2aaa5;
  padding: 16px 21px;
  border-radius: 16px;
  background-color: transparent;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: -2%;
  outline: none;
}

.tasksearch input::placeholder {
  color: #a2aaa5;
}

.filterbtn {
  display: flex;
  align-items: center;
  background: #80ffb5;
  padding: 14px 19px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.tasknav {
  display: flex;
  gap: 8px;
}

.tasknavitem {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  padding: 7px 10px;
  background: #e4e7e5;
  border: none;
  cursor: pointer;
  color: #16291e;
}

.tasktypeactive {
  background-color: #16291e;
  color: #fff;
}

.thespace {
  height: 20px;
}

.thecontentbd {
  /* display: grid; */
  /* overflow-y: scroll;
  height: 60vh; */
}

.sidebar-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 140;
}

.toggle-btn {
  background: transparent;
  color: #16291e;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar {
  position: fixed;
  top: 0; /* Initially hidden */
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background: #fff;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 150;
}

.sidebar.open {
  left: 0; /* Slide in when open */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1f3d30;
}

.thesidelinks {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 50vh;
  gap: 30px;
}

.thesidelinks a {
  text-decoration: none;
  color: #16291e;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 21.7px;
  letter-spacing: -1%;
}

.taskdecnt {
  width: 100%;
  max-width: 500px;
  padding: 16px;
}

.backbtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 16px;
}

.taskclient {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #555555;
  margin-bottom: 5px;
  margin-top: 10px;
}

.taskclient span {
  font-weight: 500;
  color: #16291e;
}

.taskstatus {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.taskstatustitle {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -1%;
  color: #555555;
}

.taskstatuscnt {
  background: #ffc1451a;
  border: 1px solid #dead4d;
  padding: 5px 8px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 13px;
  line-height: 14.3px;
  letter-spacing: -1%;
  color: #dead4d;
  border-radius: 8px;
}

.taskinfo {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: -1%;
  margin-bottom: 10px;
  color: #16291e;
}

.taskinfocnt {
  border: 1px solid #ececec;
  box-shadow: 0px 4px 37.8px 0px #0000000d;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
}

.taskdatebook {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #16291e;
  margin-bottom: 10px;
}

.taskdatecnt {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.pricebreakitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.pricebreakitem p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.taskinfocntpar {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1%;
  color: #16291eb2;
}

.thspp {
  height: 10px;
}

.themessagecnt {
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pravatar {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
  object-position: center;
}

.tmname {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #1e1e1e;
}

.tmcon {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.86px;
  letter-spacing: 0%;
  color: #1e1e1e99;
  margin: 5px 0;
}

.tmtime {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.42px;
  letter-spacing: 0%;
  color: #1e1e1e99;
}

.messagedetailscnt {
  display: flex;
  gap: 10px;
  align-items: center;
}

.messagedetailscnt img {
  box-shadow: 0px 3.5px 16.1px 0px #16291e1a;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 4px solid #fff;
  object-fit: cover;
  object-position: center;
}

.mdcname {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.28px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.mdcrightstatus {
  background: #dfffec;
  width: min-content;
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 5px;
}

.sticon {
  width: 8px;
  height: 8px;
  background: #00c452;
  border-radius: 8px;
}

.mdcrightstatus p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.52px;
  letter-spacing: -2%;
  text-align: center;
  color: #00c452;
}

.techdashbtm {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -6px 12.5px -7px #0000001a;
  z-index: 145px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techdashbtmcnt {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 16px;
}

.thetypemsg {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.thetypemsg input {
  width: 100%;
  border: none;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 17.08px;
  letter-spacing: -2%;
  background-color: transparent;
  outline: none;
}

.thetypemsg input::placeholder {
  color: #c3c3c3;
}

.imgbtn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #16291e0d;
}

.thetypemsg {
  border: 1px solid #dcdcdc;
  padding: 10px 12px;
  border-radius: 16px;
}






.bookingpagecnt {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding:30px 16px 16px 16px;
}

.techdashbtmcnt {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.bookingpagechatcnt {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 16px 0px 16px 0px;
}

.bookingtitle {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 72.8px;
  letter-spacing: 0%;
  color: #16291e;
}

.bookingpara {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.24px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.thegap {
  height: 20px;
}

.thebiggap {
  height: 50px;
}

.bookingcat {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #a2aaa5;
  overflow-x: scroll;
  gap: 20px;
}

.bookingcatbtn {
  text-wrap: nowrap;
  padding: 10px;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 26.24px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bookcatbtnactive {
  border-bottom: 2px solid #80ffb5;
  font-weight: 600;
}

.bookcatbtnnotactive {
  border-bottom: 2px solid #fff;
}

.bookcatserv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bookcatservbtn {
  border: 1px solid #16291e;
  padding: 5px 20px;
  background-color: transparent;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24.8px;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
  cursor: pointer;
  border-radius: 16px;
}

.bookactivetask {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bookactivetasktitle {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;

  color: #16291e;
}

.bookactivetask a {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #16291e;
}

.activetaskcnttop {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 16px 16px 16px;
  display: flex;
  flex-direction: column;
}

.dasbse {
  background-color: #fafafa !important;
}

.taskinprogress {
  border-left: 6px solid #008000;
}

.taskschedule {
  border-left: 6px solid blue;
}

.taskpending {
  border-left: 6px solid yellow;
}

.taskrejected {
  border-left: 6px solid red;
}

.activetaskcnt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 30px;
}

.actjobtitle {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #16291e;
}

.btsdetitemm {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}

.btsdeticonn {
  width: 16px;
  height: 16px;
}

.mytaskviewtbtn {
  width: min-content !important;
  text-wrap: nowrap !important;
}

.btstsleftprofimgg {
  height: 42px;
  width: 42px;
}

.mytaskcntitem-rightname {
  font-family: Instrument Serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 100%;
  letter-spacing: -1%;
  color: #16291e;
}

.btsdettlabell {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #7f8983;
}

.activetaskimgg {
  width: 42px !important;
  height: 42px;
}

.activetasknamee {
  font-family: Instrument Serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #16291e;
  text-align: center;
}

.wlitoprgreen {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #20945d;
  color: #fff;
  width: min-content;
  padding: 4px 7px;
  border-radius: 20px;
}

.wlitopryellow {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #f7bb09;

  color: #fff;
  width: min-content;
  padding: 4px 7px;
  border-radius: 20px;
}

.ratingnum {
  color: #fff;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -2%;
}

.mytaskcntitem-rightt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mytaskviewtbtnn {
  width: min-content;
  text-wrap: nowrap;
  gap: 10px;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  border: none;
  background-color: #80ffb5;
  cursor: pointer;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #16291e;
}

.backicon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.jdetailstitle {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  color: #16291e;
}

.jdetailsstatus {
  background: #edf6f2;
  width: min-content;
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.jdboxcircle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.acceptedbx {
  background-color: #1877f2;
}

.accepted {
  color: #1877f2;
  text-transform: capitalize;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
}

.jdetailscnt {
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #16291e;
}

.jdetailsitems {
  display: flex;
  flex-direction: column;
}

.jdtsitem {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #f2f2f2;
}

.jdtsitemleft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jdtsitemlefticon {
  width: 17px;
  height: 17px;
}

.jdtsitempar {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #79827c;
}

.jdtsitemapars,
.jtsitpar {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #16291e;
}

.jtsitpal {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #79827c;
}

.jdtsitemrightitem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;
  margin-bottom: 10px;
}

.jdtsitemrightparcnt {
  width: 100%;
  max-width: 434px;
  height: 128px;
  border: 1px solid #16291e33;
  border-radius: 12px;
  padding: 12px;
  overflow-y: scroll;
}

.jdtsitemaparss {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #16291e99;
}

.jdetailstech {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #a2aaa5;
}

.jdtechas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.jdtechasleft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.jdtechimg {
  box-shadow: 0px 9.13px 41.97px 0px #16291e1a;
  width: 146px;
  height: 146px;
  border-radius: 146px;
  object-fit: cover;
  object-position: center;
  border: 8px solid #fff;
}

.jdtechproname {
  font-family: Instrument Serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #16291e;
}

.jdtechpro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.jdtechgreat {
  background: #e3ffef;
  padding: 4px 7px;
  border-radius: 6px;
  width: min-content;
  text-wrap: nowrap;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: 0%;
  color: #33925b;
}

.jdtechasright {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.jdtechviewpro {
  border: 1px solid #a2aaa5;
  padding: 16px 19px;
  border-radius: 16px;
  background-color: transparent;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #16291e;
  cursor: pointer;
}

.jdtechopenchat {
  border: 1px solid #a2aaa5;
  background: #80ffb5;
  padding: 16px 19px;
  border-radius: 16px;
  cursor: pointer;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: #16291e;
}

.profilemodal {
  position: fixed;
  background: #00000066;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 130;
  display: flex;
  align-items: end;
}

.profilebody {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 700px;
  padding: 16px;
  z-index: 140;
  right: 0;
}

.profiletop {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.closemodalcnt {
  margin-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.thesepare {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.divider {
  margin: 10px 0px;
  width: 100%;
  border: 0.5px solid #d2caca66;
}

.jdtechminum {
  background: #ffeeca;
  padding: 4px 11px;
  border-radius: 6px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: 0%;
  color: #7d6b44;
}

.profiletopic {
  color: #16291e;
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 164%;
  letter-spacing: -2%;
}

.profilesentence {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: -2%;
  color: #48534c;
}

.chatcnt {
  height: 90vh;
  background-color: #fafafa;
  padding: 16px;
  padding-bottom: 150px;

  overflow-y: scroll;
}
.techdashbtm {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -6px 12.5px -7px #0000001a;
  z-index: 145px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.techdashbtmcnt {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 16px;
}

.thetypemsg {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.thetypemsg input {
  width: 100%;
  border: none;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 17.08px;
  letter-spacing: -2%;
  background-color: transparent;
  outline: none;
}

.thetypemsg input::placeholder {
  color: #c3c3c3;
}

.imgbtn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #16291e0d;
}

.thetypemsg {
  border: 1px solid #dcdcdc;
  padding: 10px 12px;
  border-radius: 16px;
}

.chatbackbtn {
  margin-left: 16px;
}

.thecurrentuser {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.notthecurrentuser {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.thetapisncnt {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.thetapins {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 5px;
}

.notthetapins {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 5px;
}

.thecurrentuserbg {
  background: #16291e;
  display: flex;
  justify-content: flex-end;
  padding: 6px 13px;

  width: max-content;
  max-width: 250px;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.notthecurrentuserbg {
  background: #ebebeb;
  display: flex;
  justify-content: flex-end;
  padding: 6px 13px;

  width: max-content;
  max-width: 250px;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.thecurrentuserbg p {
  color: #fff;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -2%;
}

.notthecurrentuserbg p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -2%;
  color: #16291e;
}

.thesendername {
  font-size: 8px;
}

.thesendertime {
  font-size: 8px;
}

.mytaskviewbtnrepost {
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  border-width: 1px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  border: 1px solid #16291e;
  color: #16291e;
  background-color: transparent;
  cursor: pointer;
}

.thesepbtn {
  display: flex;
  align-items: center;

  gap: 16px;
}

.thechoose {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.selectactive {
  background: #80ffb5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 16px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 2px solid #80ffb5;
}

.selectactive .seact {
  font-size: 14px;
  font-weight: 600;
}

.selectactive .seactn {
  font-size: 14px;
  font-weight: 400;
}

.selectnotactive {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 16px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 2px solid #16291e;
}

.selectnotactive .seact {
  font-size: 14px;
  font-weight: 600;
}

.selectnotactive .seactn {
  font-size: 14px;
  font-weight: 400;
}

.custom-file-input input[type="file"] {
  display: none;
}

.custom-file-input label {
  background-color: transparent;
  width: 100px;
  height: 100px;
  color: #16291e;
  border: 2px solid #16291e;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;

  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  font-size: 54px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.custom-file-input label:hover {
  border: 2px solid #80ffb5;
  color: #80ffb5;
}

.upload-icon {
  margin-right: 8px;
  font-size: 20px;
}

.theimageinputcnt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.preview-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.preview-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.previewimg {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  border: 2px solid #80ffb5;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.imgdeleteicon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #16291e;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
}


.inputcnt textarea {
  border: 1px solid #dcdcdc;
  padding: 16px 17px;
  margin-bottom: 20px;
  border-radius: 16px;
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 19.52px;
  letter-spacing: -2%;
  outline: none;
}

.thebookingnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thebookingnavright {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bookingnotificationicon {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.bookingprofimg {
  width: 36px;
  height: 36px;
  padding: 3px;
  border: 1px solid #E0E0E0;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profimg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
